@import url("reset.css");

body {
  & > .head {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    color: #208462;

    display: flex;
    align-items: center;
    justify-content: center;

    & i {
      margin-right: 10px;
    }

    & h1 {
      font-size: 1.5rem;
    }
  }

  & .container-data {
    padding: 15px;

    & table {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      border-collapse: collapse;
      & * {
        padding: 10px;
        border: 1px solid #3f3f3f;
      }
    }

    & .sale-products {
      width: 100%;
      max-width: 700px;
      padding-top: 30px;
      margin: 0 auto;

      & > .head {
        & p {
          & * {
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: uppercase;
          }
        }

        & hr {
          height: 1px;
          width: 100%;
          background-color: #bbbbbb;
        }
      }

      & > .grid-products-after-sale {
        grid-area: grid-products;

        margin: 0 auto;
        width: 100%;
        max-width: 700px;
        padding: 20px 10px;

        display: grid;
        gap: 15px;
        grid-auto-columns: 100%;
        grid-auto-rows: 150px;

        align-items: center;
        justify-items: center;

        background-color: white;

        border-radius: 6px;

        & .product {
          height: 100%;
          width: 100%;

          display: grid;
          column-gap: 10px;
          grid-template-columns: 100px 1fr;
          grid-template-rows: 50% 50%;
          grid-template-areas:
            "img-side description-side"
            "img-side controls";

          align-items: center;
          justify-items: center;
          align-content: center;
          justify-content: center;

          & .img-side {
            align-self: start;
            grid-area: img-side;

            width: 90%;
            height: auto;
            border-radius: 5px;
            background-color: #f1f1f1;

            overflow: hidden;

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          & .description-side {
            align-self: start;
            justify-self: start;
            grid-area: description-side;

            & .product-name {
              margin: 3px 0;

              color: #333333ea;
              font-size: 16px;
              font-weight: 500;
              text-transform: capitalize;
            }

            & .product-variants {
              margin: 3px 0;

              color: #282828;
              font-size: 14px;
              font-weight: 400;
              opacity: 0.8;
            }
            .section-of-calculation {
              margin: 0;
              & .product-current-price,
              & .product-quantity {
                color: #333333;
                font-size: 12px;
              }
            }
            & .price {
              & * {
                color: #333333;
                font-size: 12px;
              }

              .current-price {
                font-weight: bold;
                color: #333333e0;
              }

              .comparison-price {
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}
