@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --default-color: #ff7d00;
  --secundary-color: #f5ebdc;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--default-color);
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  list-style-position: inside;
  text-decoration: none;

  &:not(i) {
    font-family: "Rubik", sans-serif !important;
  }
}

body {
  position: relative;

  & header {
    border-bottom: 2px solid #e0d7c9;
    background-color: var(--default-color);

    & h1,
    & i {
      color: var(--secundary-color) !important;
    }

    & > .nav-bar > a:hover {
      color: var(--secundary-color) !important;
    }

    & .nav-bar .body-nav-bar a:hover {
      color: var(--default-color) !important;
    }
  }

  & main h1 {
    color: var(--default-color);
    font-size: 2.5rem;
  }

  & h2 {
    color: var(--default-color);
    font-size: 2rem;
  }

  & p {
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0px;
  }

  & strong {
    font-size: 14px;
    color: var(--default-color);
    font-weight: bold;
  }

  & .shadow {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  & footer {
    background-color: var(--default-color);

    a:hover i {
      color: var(--default-color) !important;
    }
  }
}
